<template name="home">
    <div class="container">
        <div class="text-center">
            <h1>Hello {{name}}!</h1>
            {{#if currentUser}}
            <hr/>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Change name..." id="new-name">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="change-name">Go!</button>
                </span>
            </div>
            {{/if}}
        </div>
    </div>
</template>